# URL de conexión a la base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:contraseña@host:puerto/nombre_base_datos?sslmode=require"

# Puerto para el servidor
PORT=3000

# Dirección del hostname para NO-IP
HOSTNAME="0.0.0.0"

# Ambiente de ejecución
NODE_ENV="production" 